.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1020px;
  margin: 0px auto;
  padding: 15px;
}

// ===================================== //

// header

.header {
  z-index: 100;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  @media (max-width: 768px) {
    margin-top: 10px;
  }

  // &__burger-icon {
  //   align-self: center;
  //   cursor: pointer;

  //   img {
  //     width: 32px;
  //     height: 32px;
  //   }
  // }

  &__logo {
    margin: 0px auto;
    z-index: 2;
    img {
      width: 136px;
      height: 80px;
    }
  }
  &__phone-icon {
    align-self: center;
    position: relative;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
    }

    .phone-number {
      position: absolute;
      top: 8px;
      left: -130px;
      white-space: nowrap;
      color: white;
      font-weight: 700;
      transform: translate(0, -150px);
    }

    .phone-active {
      transform: translate(0, 0);
      transition: transform 0.7s linear 0s;
      @media (max-width: 768px) {
        transform: translate(0, -150px);
      }
    }
  }
}

// ===================================== //

// burger menu

.burger {
  position: fixed;
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 32px;
  z-index: 3;
  cursor: pointer;
  padding: 5px;

  & div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    border-radius: 5px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      z-index: 1;
      top: 10px;
      background-color: #fff;
      border-radius: 5px;
    }

    &::after {
      top: -10px;
    }
  }
}

.burger-checked {
  position: absolute;
  top: 90px;
  left: 10px;
  margin-left: 88px;

  & div {
    transform: rotate(135deg);

    &::before,
    &::after {
      top: 0;
      transform: rotate(90deg);
    }
  }
}

.burger-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  background-color: #0075ff;
  z-index: 2;
  padding-left: 100px;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;

  .menu {
    margin-top: 170px;
    top: 170px;
    display: flex;
    flex-direction: column;
    left: 0;
    margin-left: 100px;

    &__list {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: white;

      li {
        margin-bottom: 30px;
        width: fit-content;
        position: relative;
        transition: 0.5s ease 0s;
        &:hover {
          color: rgb(80, 65, 65);
        }

        &:hover::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: rgb(80, 65, 65);
          position: absolute;
          top: 25px;
          left: 0;
        }
      }
    }
    &__phone {
      margin-top: 20px;
      color: white;

      font-size: 12px;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: 2px;

      &_number {
        display: inline-block;
        margin-bottom: 15px;
      }
      &_text {
        text-transform: uppercase;
      }
    }
  }
}

.burger-active {
  right: 0;
}

// ===================================== //

// main

.main {
  height: calc(100vh - 150px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__title {
    color: white;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.5px;
    height: 100%;
    position: relative;

    &_text {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 80/1020 * 100%;
      &::before {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background-color: #fff;
        margin-bottom: 20px;
        border-radius: 5px;
      }
    }

    @media (max-width: 768px) {
      font-size: 70px;
    }

    @media (max-width: 426px) {
      font-size: 40px;
      letter-spacing: -1px;
    }
  }

  &__background-img {
    max-width: 100%;
    max-height: 100%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: -1;
    }
  }
}
