@import url('https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap');

@import './scss/null.scss';

html,
body {
  height: 100%;
  width: 100%;
  // background-color: #110a12;

  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

img {
  width: 100%;
}

* a {
  color: inherit;
}

.title {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.5px;
  & span {
    color: #0075ff;
  }
  & svg {
    width: 20px;
    height: 13px;
    transform: translate(0, -20px);
  }
}
